# {{ ansible_managed }}
---
host: {{ openio_meta_bind_address }}
port: {{ openio_meta_bind_port }}
type: {{ openio_meta_type }}
{% if openio_meta_location | ipaddr %}
location: {{ openio_meta_location | replace(".", "-") }}
{% else %}
location: {{ openio_meta_location }}
{% endif %}
checks:
  - {type: asn1}
stats:
  - {type: volume, path: {{ openio_meta_volume }}}
  - {type: meta}
  - {type: system}
slots:
  {{ openio_meta_slots | to_nice_yaml | indent(2) }}
...
